<div>
  <% if commentable.comments.empty? %>
    <div>
      <%= t('.no_data') %>
    </div>
  <% else %>
    <% commentable.comments.order(:id).each do |comment| %>
      <div>
        <%= comment.comment %> | <%= l(comment.created_at, format: :long) %> |
        <%= comment.user.name.present? ? comment.user.name : comment.user.email %>
        <% if current_user == comment.user %>
          | <%= link_to t('views.common.destroy'), [commentable, comment],
            method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
