<h1><%= t('.show_book') %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <p><%= @user.email %></p>
</p>
<p>
  <strong><%= User.human_attribute_name(:postcode) %>:</strong>
  <p><%= @user.postcode %></p>
</p>
<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <p><%= @user.address %></p>
</p>
<p>
  <strong><%= User.human_attribute_name(:biography) %>:</strong>
  <p><%== @user.biography.gsub(/\R/, '<br>') %></p>
</p>

<%= link_to t('general.back'), users_path %>
